extends layout

block content
  section.content-side
    header
      h1 vrBIMbo
      button.upload-btn.button(onClick="showUpload()") Upload new model

      div.upload-form(style='display:none;')
        form(method="post",enctype="multipart/form-data",action="/upload")
          p
            input(type="file",name="upl")
          p
            input(type="submit",onClick="hideUpload()")

    div.loaded-models
      for item in models
        div.model-item
          p
            span= item
            span.button(onclick="loadModel('#{item}')") Load and view

  section.content-main
    div(id="viewport")
      canvas(id="viewportCanvas")
